<section class="container__about taille-grille">
    <div class="container__about-infos">
        <div class="container__about-infos-title">
            <p class="container__about-infos-title-subtitle sub-title">qui suis-je ?</p>
            <div class="border"></div>
            <h2 class="container__about-infos-title-h2 title-h2">Un développeur et designer web</h2>
        </div>
        <div class="container__about-infos-text">
            <p class="text-big">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer a lectus sit amet est scelerisque elementum. Lorem ipsum dolor sit amet, consectetur.</p>
            <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam commodo ipsum ut purus molestie feugiat. Maecenas dolor mauris, sodales nec ultricies sit amet, fermentum in nibh. Proin scelerisque nisl ac ante hendrerit posuere. Integer porttitor risus rutrum urna porttitor, sit amet interdum orci mattis. Pellentesque habitant morbi</p>
        </div>
    </div>
    <div class="container__about-chifres">
        <div class="container__about-chifres-years">
            <p class="big-chifres">7+</p>
            <p class="sub-chifres">années d'experiences</p>
        </div>
        <div class="container__about-chifres-projets">
            <p class="big-chifres black">25+</p>
            <p class="sub-chifres">projets terminés</p>
        </div>
        <div class="container__about-chifres-clients">
            <p class="big-chifres">10</p>
            <p class="sub-chifres">clients satisfaits</p>
        </div>
    </div>
</section>