<section class="container__contact">
    <div class="container__contact-all taille-grille">
        <div class="container__contact-all-form">
            <div class="container__contact-all-form-title">
                <p class="container__contact-all-form-title-subtitle sub-title">Let's work together</p>
                <div class="border"></div>
                <h2 class="container__contact-all-form-title-h2 title-h2">Vous avez un projet ?<br/>Faisons de grande choses ensemble</h2>
            </div>
            <form action="" class="container__contact-all-form-contact">
                <div class="container__contact-all-form-contact-infos">
                    <input type="text" name="" id="" placeholder="Nom" class="container__contact-all-form-contact-infos-nom input-contact">
                    <input type="text" name="" id="" placeholder="Prénom" class="container__contact-all-form-contact-infos-prenom input-contact">
                    <input type="text" name="" id="" placeholder="Sujet/Demande" class="container__contact-all-form-contact-infos-sujet input-contact">
                </div>
                <div class="container__contact-all-form-contact-message">
                    <input type="text" name="" id="" placeholder="Message" class="container__contact-all-form-contact-message-text input-contact">
                </div>
                <button class="container__contact-all-form-contact-message-btn btn btn-black">Envoyer un message<i class="fa-solid fa-arrow-right"></i></button>
            </form>
        </div>
        <div class="container__contact-all-img">
            <img src="/integration/home/photo-leo.png" alt="">
        </div>
    </div>
</section>