<footer class="container__footer">
    <div class="container__footer-all taille-grille">

        <!-- FOOTER 1-4 -->
        <div class="container__footer-1-4">
            <h5 class="container__footer-1-4-title-h5 title-h5">Navigation</h5>
            <div class="container__footer-1-4-link">
                <a href="#" class="container__footer-1-4-link-a footer-link">Accueil</a>
                <a href="#" class="container__footer-1-4-link-a footer-link">My work</a>
                <a href="#" class="container__footer-1-4-link-a footer-link">Resume</a>
                <a href="#" class="container__footer-1-4-link-a footer-link">Blog - Actualités</a>
                <a href="#" class="container__footer-1-4-link-a footer-link">Contact</a>
            </div>
        </div>
        <!-- FOOTER 1-4 -->

        <!-- FOOTER 1-4 -->
        <div class="container__footer-1-4">
            <h5 class="container__footer-1-4-title-h5 title-h5">Contactez moi</h5>
            <div class="container__footer-1-4-link">
                <a href="#" class="container__footer-1-4-link-a footer-link"><i class="fa-solid fa-envelope"></i>leo.graton2@gmail.com</a>
                <a href="#" class="container__footer-1-4-link-a footer-link"><i class="fa-sharp fa-solid fa-location-dot"></i>Angers,FRANCE</a>
                <button class="btn-footer"><i class="fa-solid fa-phone"></i>appeler-moi</button>
                <div>
                    <a href="#" class="icon-footer"><i class="fa-brands fa-facebook-f"></i></a>
                    <a href="#" class="icon-footer"><i class="fa-brands fa-instagram"></i></a>
                    <a href="#" class="icon-footer"><i class="fa-brands fa-pinterest-p"></i></a>
                    <a href="#" class="icon-footer"><i class="fa-brands fa-youtube"></i></a>
                </div>
            </div>
        </div>
        <!-- FOOTER 1-4 -->

        <!-- FOOTER 1-4 -->
        <div class="container__footer-1-4">
            <h5 class="container__footer-1-4-title-h5 title-h5">Derniers articles</h5>
            <div class="container__footer-1-4-link">
                <a href="#" class="container__footer-1-4-link-a footer-link actus">Lorem ipsum dolor sit amet, consectetur 
                    adipiscing elit.</a>
                <a href="#" class="container__footer-1-4-link-a footer-link actus">Lorem ipsum dolor sit amet, consectetur 
                    adipiscing elit.</a>
                <a href="#" class="container__footer-1-4-link-a footer-link actus">Lorem ipsum dolor sit amet, consectetur 
                    adipiscing elit.</a>

            </div>
        </div>
        <!-- FOOTER 1-4 -->

        <!-- FOOTER 1-4 -->
        <div class="container__footer-1-4">
            <h5 class="container__footer-1-4-title-h5 title-h5">My work</h5>
            <div class="container__footer-1-4-link">
                <a href="#" class="container__footer-1-4-link-a footer-link">Woodup</a>
                <a href="#" class="container__footer-1-4-link-a footer-link">Dodai</a>
                <a href="#" class="container__footer-1-4-link-a footer-link">Lou Garu</a>
                <a href="#" class="container__footer-1-4-link-a footer-link">JardiPrix</a>
                <a href="#" class="container__footer-1-4-link-a footer-link">Veuve amiot</a>
            </div>
        </div>
        <!-- FOOTER 1-4 -->
    </div>
</footer>
<script src="/js/app.js"></script>
</body>
</html>