<header class="container__menu taille-grille">
    <img src="/integration/home/logo-portfolio.png" class="container__menu-logo" alt="le logo de leo le webdesigner du site" onclick="window.location.href = '/';">
    <div class="container__menu-rs">
        <a href="#" class="container__menu-rs-fb white icon"><i class="fa-brands fa-facebook-f"></i></a>
        <a href="#" class="container__menu-rs-insta white icon"><i class="fa-brands fa-instagram"></i></a>
        <a href="#" class="container__menu-rs-pinterest white icon"><i class="fa-brands fa-pinterest-p"></i></a>
        <a href="#" class="container__menu-rs-youtube white icon"><i class="fa-brands fa-youtube"></i></a>
        <a href="#" class="container__menu-rs-burger burger white icon" onclick="app.toggleMenu()"><i class="fa-solid fa-bars"></i></a>
    </div>
</header>