<nav class="container__nav">
    <div class="container__nav-menu">
        <img src="/integration/home/logo-portfolio.png" class="container__nav-menu-img" alt="logo de leo le webdsigner du site" onclick="window.location.href = '/';">
        <a href="#" class="container__nav-menu-icon white icon" onclick="app.toggleMenu()"><i class="fa-solid fa-xmark"></i></a>
    </div>
    <ul class="container__nav-link">
        <li class="container__nav-link-li"><a href="/works" class="container__nav-link-a">Works</a></li>
        <li class="container__nav-link-li"><a href="/a-propos" class="container__nav-link-a">A propos</a></li>
        <li class="container__nav-link-li"><a href="/resume" class="container__nav-link-a">Resume</a></li>
        <li class="container__nav-link-li"><a href="/blog" class="container__nav-link-a">Blog</a></li>
        <li class="container__nav-link-li"><a href="/contact" class="container__nav-link-a">Contact</a></li>
    </ul>
</nav>
<div class="container__nav-overlay"></div>