<section class="container__realisations taille-grille">
    <div class="container__realisations-global">
        <div class="container__realisations-global-left">
            <div class="container__realisations-global-left-text">
                <span class="container__realisations-global-left-text-span">Mes réalisations</span>
            </div>
            <div class="container__realisations-global-left-img"></div>
        </div>
        <div class="container__realisations-global-right">
            <div class="container__realisations-global-right-categories"><span class="categories">#UI DESIGN</span></div>
            <h2 class="container__realisations-global-right-title title-realisations">Woodup</h2>
            <p class="container__realisations-global-right-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer a lectus sit amet est scelerisque elementum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer a lectus sit amet est scelerisque elementum. </p>
            <div class="container__realisations-global-right-slider">
                <button class="container__realisations-global-right-slider-btn btn btn-bg-blanc" aria-label="Précédent" onclick="app.changeSlide(-1)"><i class="fa-solid fa-arrow-left"></i></button>
                <button class="container__realisations-global-right-slider-btn btn btn-bg-blanc" aria-label="Suivant" onclick="app.changeSlide(1)"><i class="fa-solid fa-arrow-right"></i></button>
            </div>
        </div>
    </div>
    <div>

    </div>
</section>