<section class="container__servcies taille-grille">
    <div class="container__servcies-infos">
        <div class="container__servcies-infos-title">
            <p class="container__servcies-infos-title-p sub-title">Mes services</p>
            <div class="border"></div>
            <h2 class="container__servcies-infos-title-h2 title-h2">De nombreux servuces de<br/>qualités</h2>
        </div>
        <div class="container__servcies-infos-btn">
            <button class="btn btn-blanc">Voir tous les services<i class="fa-solid fa-arrow-right"></i></button>
        </div>
    </div>

    <!-- TOUTES LES CARDS -->
    <div class="container__servcies-cards">
    
        <!-- 1 CARD -->
        <div class="container__servcies-les-servcies-card">
            <div class="container__servcies-les-servcies-card-title">
                <p class="container__servcies-les-servcies-card-title-p sub-title-card">branding</p>
                <h3 class="container__servcies-les-servcies-card-title-h3 title-h3">Création de logo</h3>
            </div>
            <div class="container__servcies-les-servcies-card-arrow">
                <i class="fa-solid fa-arrow-right"></i>
            </div>
        </div>
        <!-- 1 CARD -->

        <!-- 1 CARD -->
        <div class="container__servcies-les-servcies-card">
            <div class="container__servcies-les-servcies-card-title">
                <p class="container__servcies-les-servcies-card-title-p sub-title-card">UTILISATEURS</p>
                <h3 class="container__servcies-les-servcies-card-title-h3 title-h3">UX-UI Design</h3>
            </div>
            <div class="container__servcies-les-servcies-card-arrow">
                <i class="fa-solid fa-arrow-right"></i>
            </div>
        </div>
        <!-- 1 CARD -->

        <!-- 1 CARD -->
        <div class="container__servcies-les-servcies-card">
            <div class="container__servcies-les-servcies-card-title">
                <p class="container__servcies-les-servcies-card-title-p sub-title-card">Developpement</p>
                <h3 class="container__servcies-les-servcies-card-title-h3 title-h3">Création web</h3>
            </div>
            <div class="container__servcies-les-servcies-card-arrow">
                <i class="fa-solid fa-arrow-right"></i>
            </div>
        </div>
        <!-- 1 CARD -->

        <!-- 1 CARD -->
        <div class="container__servcies-les-servcies-card">
            <div class="container__servcies-les-servcies-card-title">
                <p class="container__servcies-les-servcies-card-title-p sub-title-card">Branding</p>
                <h3 class="container__servcies-les-servcies-card-title-h3 title-h3">Charte graphique</h3>
            </div>
            <div class="container__servcies-les-servcies-card-arrow">
                <i class="fa-solid fa-arrow-right"></i>
            </div>
        </div>
        <!-- 1 CARD -->


    </div>
     <!-- TOUTES LES CARDS -->
</section>