/* WORKS */
.container__works-left{
    background-image: url('/integration/home/img-stareyes.jpg');
    width: 55%;
    height: 600px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.container__works{
    margin-top: 7rem;
}
.container__works-left-text{
    color: var(--white);
    font-size: 100px;
    font-family: var(--Playfair);
    font-weight: 700;
    opacity: .1;
}
.container__works-left-text-span{
    margin-top: -86px;
    position: absolute;
}
.container__works{
    display: flex;
    align-items: center;
}
.container__works-right{
    padding: 4rem;
    color: var(--white);
}
.container__works-right-h2{
    padding: 2rem 0;
}
.container__works-right{
    width: 45%;
}

/* WORKS-MAQUETTE */
.container__maquette{
    background-color: var(--white);
    margin-top: 7rem;
    display: flex;
}
.container__maquette-title{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--black);
    opacity: .1;
}
.container__maquette-title-border{
    width: 2px;
    height: 150px;
    background-color: var(--black);
    opacity: .5;
}
.container__maquette-title-text{
    writing-mode: vertical-rl;
    font-size: 95px;
    font-family: var(--Playfair);
    font-weight: 700;
}
.container__maquette-img{
    display: flex;
    justify-content: center;
    padding-top: 7rem;
    padding-bottom: 7rem;
    flex-direction: column;
    align-items: center;
}
.container__maquette-img-width{
    width: 800px;
    padding-bottom: 3rem;
}

/* WORKS-STYLES */
.container__color{
    margin-top: 7rem;
}
.container__color-all{
    color: var(--white);
}
.container__color-all-style-title{
    font-size: 95px;
    font-family: var(--Playfair);
    font-weight: 700;
    opacity: .1;
}
.container__color-all-style-card{
    width: 20%;
    height: 250px;
}
.container__color-all-style-cards{
    display: flex;
    gap: 1rem;
    margin-top: -3rem;
}
.container__color-all-style-card-container{
    display: flex;
    height: 100%;
    align-items: flex-start;
    padding: 0 0 2rem 2rem;
    flex-direction: column;
    justify-content: flex-end;
    border-radius: 20px;
}
.container__color-all-typo{
    color: var(--white);
    display: flex;
    gap: 2rem;
    padding-top: 3rem;
}

/* WORK SLIDE  */
.container__slide-realisations{
    color: var(--white);
    display: flex;
    justify-content: space-between;
    margin-top: 5rem;
}
.container__slide-realisations-left{
    width: 50%;
}
.container__slide-realisations-right{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.container__slide-realisations-left{
    padding: 2rem 0 2rem 0;
    padding-left: 5vw;
}
.container__slide-realisations-left:hover{
    background-color: var(--blue);
    color: var(--white);
    cursor: pointer;
}
.container__slide-realisations-right:hover{
    background-color: var(--blue);
    color: var(--white);
    cursor: pointer;
}
.container__slide-realisations-right{
    padding: 2rem 0 2rem 0;
    padding-right: 5vw;
}
.container__slide-realisations-left-span{
    text-transform: uppercase;
    font-size: 14px;
}
.container__slide-realisations-right-span{
    text-transform: uppercase;
    font-size: 14px;
}
.container__slide-realisations-right-title{
    font-family: var(--Playfair);
    font-size: 30px;
}
.container__slide-realisations-left-title{
    font-family: var(--Playfair);
    font-size: 30px;
}

/* WORKS */
.container__page-works{
    margin-top: 7rem;
    color: var(--white);
}
.container__page-work-cards{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    flex-wrap: wrap;
}
.container__page-work-card{
    width: 32%;
    height: 500px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.container__page-work-card-display{
    display: flex !important;
    height: 100%;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,0.5);
    opacity: 0;
}
.container__page-work-card-display:hover{
    opacity: 1;
    cursor: pointer;
}
.container__page-work-card-display-category{
    text-transform: uppercase;
    padding-bottom: 1rem;
}
.container__page-work-card-display-title{
    font-size: 32px;
    font-family: var(--Playfair);
}
.container__page-work-card-display-a{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    align-items: center;
    color: var(--white);
    width: 100%;
    height: 100%;
    justify-content: center;
}